@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
button {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.dog-image__header {
    padding: 2rem 0;
    text-align: center;
}

.dog-image__title {
    font-size: 40px;
    font-weight: 300;
}

.dog-image__btn-container {
    margin-top: 3rem;
}